.parrafo{
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    padding: 15px;
    color: darkred;
    font-size: large;
    font-weight: 500;
}

div{
    border: 2px solid mediumaquamarine;
    color: darkgoldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkolivegreen;
    font-size: x-large;
}

span ul li{
    color: gainsboro;
    font-size: large;
    font-weight: 300;
}

#Name{
    background-color: burlywood;
}

#boton{
    background-color:darkturquoise;
    border: none;
    font-size: medium;
    width: 40px;
    height: 50px;
    color:rgb(6, 49, 6);
}
.texto{
    color:lightcoral;
}
.link{
    color: darkslateblue;
}

a:hover{
    color:aquamarine ;
}